body {
    background-color: mediumaquamarine;
}

div {
    margin-bottom: 5px;
}

#kolory-predefiniowane {
    width: 200px;
    height: 100px;
    background-color: red;
}

#kolory-heksadecymalne {
    width: 200px;
    height: 100px;
    background-color: #1750aa;
}

#kolory-heksadecymalne-zapis-skrocony {
    width: 200px;
    height: 100px;
    background-color: rgb(197, 71, 208);
}

#kolory-funkcja-rgb {
    width: 200px;
    height: 100px;
    background-color: rgb(71, 208, 82);
}

#kolory-funkcja-rgba {
    width: 200px;
    height: 100px;
    background-color: rgb(181, 30, 88);
}
